.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

.grass_field img{
		width: 100%;
		min-height: 32vh;
		margin-left: 0px;
		padding: 0;
		position: absolute;
		bottom: -5px;
		right: 0;
		left: 0;
		z-index: 1;
}