.cloud_container{
	//overflow-x: hidden; 
	img{
		z-index: -1;
		}
	#left_cloud{
		position: absolute;
		top: 20vh;
		left: -20px;

		/* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 20vh;
			left: -20px;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 20vh;
			left: -20px;
	    }
	}
	#top_cloud{
		position: absolute;
		top: 0px;
		left: 20vw;

		/* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 0px;
			left: 20vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 0px;
			left: 20vw;
	    }
	}
	#second_top_cloud{
		position: absolute;
		top: 0px;
		right: 15vw;
		/* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 0px;
			right: 15vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 0px;
			right: 15vw;
	    }

	}
	#left_bottom_cloud{
		position: absolute;
		top: 65vh;
		left: 0px;

			/* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 65vh;
			left: 0px;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 65vh;
			left: 0px;
	    }	
	}
	#right_bottom_cloud{
		position: absolute;
		top: 65vh;
		right: 0px;

		 @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 65vh;
			right: 0px;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 65vh;
			right: 0px;
	    }
	}

	#left_middle_cloud{
		position: absolute;
		top: 115vh;
		left: 25vw;

		 @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        top: 105vh;
			left: 25vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 100vh;
			left: 25vw;
	    }
	}

	#right_middle_cloud{
		position: absolute;
		top: 98vh;
		right: 35vw;

		 /* Very small decices*/
	    @media only screen and (max-width: 319px) {
	        top: 341vh;
			left: 15vw;
	        
	    }

	    /* Custom, iPhone Retina */ 
	    @media only screen and (min-width : 320px) and (max-width: 479px) {
	    	width: 100%;
	        top: 360vh;
			left: 0vw;
	    }

	    /* Extra Small Devices, Phones */ 
	    @media only screen and (min-width : 480px) and (max-width: 767px) {
	       top: 348vh;
			left: 15vw;
	    }

	    /* Small Devices, Tablets */
	    @media only screen and (min-width : 768px) and (max-width: 991px) {
	         top: 380vh;
			left: 15vw;
	    }

		@media only screen and (min-width : 992px) and (max-width: 1199px) {
	       top: 98vh;
			right: 35vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 98vh;
			right: 35vw;
	    }
	}

	#airplane1{
		position: absolute;
		top: 20vh;
		left: 30vh;

		 /* Very small decices*/
	    @media only screen and (max-width: 319px) {
	        display: none;
	        
	    }

	    /* Custom, iPhone Retina */ 
	    @media only screen and (min-width : 320px) and (max-width: 479px) {
	        display: none;
	    }

	    /* Extra Small Devices, Phones */ 
	    @media only screen and (min-width : 480px) and (max-width: 767px) {
	       display: none;
	    }

	    /* Small Devices, Tablets */
	    @media only screen and (min-width : 768px) and (max-width: 991px) {
	        display: none;
	    }

		@media only screen and (min-width : 992px) and (max-width: 1199px) {
	      	top: 15vh;
			left: 15vh;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 20vh;
			left: 30vh;
	    }


		/*delete transform when pics are bigger res*/
		transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-webkit-transform: scale(0.8, 0.8);
	}


	#airplane2{
		position: absolute;
		top: 31vh;
		right: 35vh;


		@media only screen and (min-width : 992px) and (max-width: 1199px) {
	      	top: 25vh;
			right: 15vh;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	top: 31vh;
			right: 25vh;
	    }

	}
}