.images_section{
	min-height: 70vh;
	max-height: 80vh;
}

.images_mobile_section{

	padding-left:0px;
	padding-right: 0px;
	img{
		    max-width: 100vw;
    		min-width: 100vw;
   			margin: 0;
    		padding: 0;
	}
}

.grass_field{
	img{
		width: 100%;
		min-height: 32vh;
		margin-left: 0px;
		padding: 0;
		position: absolute;
		bottom: -5px;
		right: 0;
		left: 0;
		z-index: 1;
	}
}

.sun{
	img{
		position: absolute;
		bottom: 23vh;
		left: 35vw;
		z-index: -1;
		max-width: 33%;

	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        bottom: 17vh;
			right: 29vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 20vh;
			left: 35vw;
	    }

	    /* ----------- Non-Retina Screens ----------- */
	@media screen 
  		and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 1) { 
  			bottom: 19vh;
			left: 34vw;
		}

	    /* ----------- Retina Screens ----------- */

		@media only screen and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 2)
 		 and (min-resolution: 192dpi) { 
 			bottom: 19vh;
			left: 34vw;

		}
	}
}

.mountain{
	img{
		position: absolute;
		bottom: 20vh;
		left: 22vw;
		max-width: 40%;


	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	       bottom: 10vh;
			left: 20vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 16vh;
			left: 23vw;
	    }

	        /* ----------- Non-Retina Screens ----------- */
	@media screen 
  		and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 1) { 
  			bottom: 27vh;
			left: 29vw;
		}

	    /* ----------- Retina Screens ----------- */

	    @media only screen and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 2)
 		 and (min-resolution: 192dpi) { 
 			bottom: 27vh;
			left: 29vw;

		}
		
	}
}

.city{
	img{
		position: absolute;
		bottom: 20vh;
		right: 25vw;

	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        bottom: 10vh;
			right: 25vw;
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 17vh;
			right: 25vw;
	    }

	            /* ----------- Non-Retina Screens ----------- */
	@media screen 
  		and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 1) { 
  			bottom: 27vh;
			right: 29vw;
		}
	    

	    /* ----------- Retina Screens ----------- */

	    @media only screen and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 2)
 		 and (min-resolution: 192dpi) { 
 			bottom: 27vh;
			right: 29vw;

		}
	}
}

.first_tree{
	img{
		position: absolute;
		bottom: 25vh;
		left: 15vw;
		z-index: 2;
		

	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        bottom: 20vh;
			left: 13vw;

			transform: scale(0.8, 0.8);
			-ms-transform: scale(0.8, 0.8);
			-webkit-transform: scale(0.8, 0.8);
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 24vh;
			left: 15vw;
			transform: scale(0.8, 0.8);
			-ms-transform: scale(0.8, 0.8);
			-webkit-transform: scale(0.8, 0.8);

	    }

	    /* ----------- Retina Screens ----------- */

	    @media only screen and (min-device-width: 1200px) 
  		and (max-device-width: 1600px) 
  		and (-webkit-min-device-pixel-ratio: 2)
 		 and (min-resolution: 192dpi) { 
 			bottom: 29vh;
			left: 19vw;

			transform: scale(1.2, 1.2);
			-ms-transform: scale(1.2, 1.2);
			-webkit-transform: scale(1.2, 1.2);

		}
	}
}

.second_tree{
	img{
		position: absolute;
		bottom: 3vh;
		left: 30vw;

		transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-webkit-transform: scale(0.8, 0.8);
		z-index: 2;

	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        bottom: 2vh;
			left: 27vw;

			transform: scale(0.6, 0.6);
			-ms-transform: scale(0.6, 0.6);
			-webkit-transform: scale(0.6, 0.6);
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 2vh;
			left: 28vw;
			transform: scale(0.8, 0.8);
			-ms-transform: scale(0.8, 0.8);
			-webkit-transform: scale(0.8, 0.8);

	    }

	}
}

.third_tree{
	img{
		position: absolute;
		bottom: 22vh;
		right: 10vw;
		z-index: 2;
	

	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) and (max-width: 1199px) {
	        bottom: 16vh;
			right: 10vw;
			transform: scale(0.6, 0.6);
			-ms-transform: scale(0.6, 0.6);
			-webkit-transform: scale(0.6, 0.6);
		
	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
	    	bottom: 22vh;
			right: 10vw;
			transform: scale(0.8, 0.8);
			-ms-transform: scale(0.8, 0.8);
			-webkit-transform: scale(0.8, 0.8);

	    }

	}
}

