$logo_font: logo_font;
$logo_font_url:  url('../../fonts/ugo-3dcolor.otf');
$logo_font_second: logo_font_second;
$logo_font_second_url: url('../../fonts/ugo-engreved.otf');
$header_font: header_font;
$header_font_url: url('../../fonts/oswald-regular.otf');
$header_font_light: header_font_light;
$header_font_light_url: url('../../fonts/oswald-light.otf');
$quote_font_bold: quote_font;
$quote_font_url: url('../../fonts/amplitude-regular.otf');
$main_text_style: main_text;
$main_text_style_url: url('../../fonts/Colfax-Regular.otf');
$main_text_bold_style: main_text_bold;
$main_text_bold_style_url: url('../../fonts/Colfax-Bold.otf');
$main_text_medium_style: main_text_medium;
$main_text_medium_style_url: url('../../fonts/Colfax-Medium.otf');

//@include font-face($logo_font, $logo_font_url);
@font-face{
	font-family: $logo_font;
	src: $logo_font_url;
}

@font-face{
	font-family: $header_font;
	src: $header_font_url;
}
@font-face{
	font-family: $header_font_light;
	src: $header_font_light_url;
}
@font-face{
	font-family: $quote_font_bold;
	src: $quote_font_url;
}
@font-face{
	font-family: $main_text_style;
	src: $main_text_style_url;
}

@font-face{
	font-family: $main_text_bold_style;
	src: $main_text_bold_style_url;
}

@font-face{
	font-family: $main_text_medium_style;
	src: $main_text_medium_style_url;
}

@font-face{
	font-family: $logo_font_second;
	src: $logo_font_second_url;
}

.logo_text{
	font-family: logo_font;
	font-family: logo_font_second;
	font-weight: color;
	font-size: 7em;
	color: white;
}

h2{
	font-family: main_text_medium;
	font-size: 1.3em;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 27px;
}

.text-smaller{
	font-size:smaller;
}

.quote p{
	font-family: quote_font;
	font-size: 2em;	
	//font-size: 1.3em;
	//letter-spacing: 2px;
	span{
		font-weight: 700;
	}
}

.brief_text{
	font-family: main_text;
	font-size: 1em;
	//text-align: left;
	//line-height: 200%;
	b{
		font-family: main_text_bold;
		font-weight: 900;
	}
}

.button_section b{
	font-family: main_text_medium;
}

.int_applicants{
	h4{
		font-family: main_text_medium;
		font-size: 16px;
	}
}


