.judge{

	padding-top: 30px;
	padding-bottom: 30px;
	//height: 200px;
	.bordered-image{
		display: block;
		margin: 0px auto;
		background-color: transparent;
		//background-image: url("../../images/bc.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		border-style: solid;
    	border-width: 2.5px;
		width: 220px;
		height: 220px;
		max-width: 60%;
		max-height: 60%;
		
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;

	}

	.judge-name1{
		padding-top: 8px;
		//width: 60%;
		//margin: 0px auto;
		//position: relative;
		//left: 60px;
	}
	.judge-name2{
		padding-top: 8px;
		//width: 60%;
		//margin: 0px auto;
		//position: relative;
		//left: -60px;
	}
}


#winner1{
	background-image: url("../../images/winners/winner2.jpeg");
	//position: relative;
	//left: 60px;
}

#winner2{
	background-image: url("../../images/winners/winner1.jpeg");
	//position: relative;
	//left: -60px;
}

#eero-knuutila{
	background-image: url("../../images/judges/eero-knuutila.jpg");

}

#erica-swallow{
	background-image: url("../../images/judges/erica-swallow.jpg");
}

#heikki-koski-finavia{
	background-image: url("../../images/judges/heikki-koski-finavia.jpg");
}

#konsta-hansson{
	background-image: url("../../images/judges/konsta-hansson.jpg");
}

#maryann-simson{
	background-image: url("../../images/judges/maryann-simson.jpg");
}

#oskari-kettunen{
	background-image: url("../../images/judges/oskari-kettunen.jpg");
}

#tero-valkiala{
	background-image: url("../../images/judges/tero-valkiala.jpg");
}

#jouni-oksanen{
	background-image: url("../../images/judges/jouni-oksanen.jpg");
}

#mikko-kiviniemi{
	background-image: url("../../images/judges/mikko-kiviniemi.jpg");
}