.companies-centered{
	ul{
    	display: flex;
    	justify-content: center;
    	align-items: baseline;
    	margin-left: 0px;
		li{
			img{
				max-width: 70px;
				//width: 60px;
				max-height: 50px;
				height: 13px;
				padding: 0px;
			}
		}
	}

	.block{
		display: block;
		margin: $auto_margin;
	}
}



.logo{
	img{
		display: block;
		max-width: 100%;
		max-height: 80px;
		//margin: 12px auto;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		margin-bottom: 15px;
		//transform: scale(0.3, 0.3);
		//-ms-transform: scale(0.3, 0.3);
		//-webkit-transform: scale(0.3, 0.3);
	}
}

.shorter{
	display: block;
	//width: 70%;
	margin: $auto_margin;
}


.timetable{
	margin-top: 32px;
	img{
		width: 100%;
		margin: $auto_margin;
		}
}


.border{
	border-radius: 10px;
	padding: 5px;
	margin: $auto_margin;
	border: solid 2.3px black;
	width: 80%;
	background-color: white;
}


.button_border{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px;
	p{
		margin: 0px;
	}
}


.button_mobile{
	display: block;
	max-width: 78%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	//margin: 0 auto;
}

.quote{
	padding-top: 20px; 
}

.button{
	display: block;
	@media only screen and (max-width: 319px) {
        width: 80%;
        margin: $auto_margin;
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
          width: 80%;
          margin: $auto_margin;
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
        width: 80%;
        margin: $auto_margin;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
          width: 80%;
          margin: $auto_margin;
    }
    //width: 80%;
    //margin: 0px auto;
}

/*
.hashtags{
	position: absolute;
	bottom: 0px;
	//margin: 0 auto;
	text-align: center;
	div{
		text-align: center;
		width: 100vw;
	}
}

button{
	border: solid 3px black;
}*/