.companies-centered{


 
	ul{
    	display: flex;
    	justify-content: center;
    	align-items: baseline;
    	//margin-left: 0px !important;

    	   @media only screen and (max-width: 319px) {
       		margin: $auto_margin;
    		}

    		/* Custom, iPhone Retina */ 
   			 @media only screen and (min-width : 320px) and (max-width: 479px) {
          		margin: $auto_margin;
    	}

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
        margin: $auto_margin;
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
          margin: $auto_margin;
    }
		li{
			img{
				padding: 0px;
			}

      .reaktor-logo{
        width: 70px;
        height: 1em;
      }

      .finnair-logo{
        width: 90px;
        height: 0.6em;

      }

      .finavia-logo{
        width: 100px;
        height: 1em;
      }
		}
	}

	.block{
		display: block;
		margin-top: 20px;
		margin-bottom: 0px;

	}
}



.logo{
	img{
		display: block;
		max-width: 100%;
		max-height: 80px;
		//margin: 12px auto;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		margin-bottom: 15px;
		//transform: scale(0.3, 0.3);
		//-ms-transform: scale(0.3, 0.3);
		//-webkit-transform: scale(0.3, 0.3);
	}
}

.shorter{
	display: block;
	//width: 70%;
	margin: $auto_margin;
}

/*.click:hover{
	color: white;
	background-color: #404040;
}*/


.timetable{
	margin-top: 32px;
	img{
		width: 100%;
		margin: $auto_margin;
		}
}


.border{
	border-radius: 10px;
	padding: 5px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	//margin-bottom: 10px;
	border: solid 2.3px black;
	width: 80%;
	background-color: white;
}


.button_border{
	margin-top: 30px;
	//margin-bottom: 30px;
	padding: 0px;
	p{
		margin: 0px;
	}
}


.button_mobile{
	display: block;
	max-width: 78%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	//margin: 0 auto;
}

.quote{
	padding-top: 40px; 
	//padding-bottom: 30px;
}

.button{
	//display: block;
	@media only screen and (max-width: 319px) {
        width: 80%;
        margin: $auto_margin;
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
          width: 70%;
          margin: $auto_margin;
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
        width: 70%;
        margin: $auto_margin;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
          width: 80%;
          margin: $auto_margin;
    }
    //width: 80%;
    //margin: 0px auto;
}

.share_icons{
	position: absolute;
	top: 35px;
	right: 26px;

	display: -webkit-box;
  	display: -moz-box;
  	display: box;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
  	-moz-box-orient: horizontal;
  	box-orient: horizontal;
  	-webkit-box-direction: normal;
  	-moz-box-direction: normal;
  	box-direction: normal;
  	-webkit-flex-direction: row;
  	-moz-flex-direction: row;
  	flex-direction: row;
  	-ms-flex-direction: row;
  	flex-wrap: wrap;
  	-webkit-box-align: baseline;
  	-moz-box-align: baseline;
  	box-align: baseline;
  	-webkit-align-items: baseline;
  	-moz-align-items: baseline;
  	-ms-align-items: baseline;
  	-o-align-items: baseline;
  	align-items: baseline;
  	-ms-flex-align: baseline;
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	box-pack: center;
  	-webkit-justify-content: center;
  	-moz-justify-content: center;
  	-ms-justify-content: center;
  	-o-justify-content: center;
  	justify-content: center;
  	-ms-flex-pack: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */

 }

.margin_auto{
	//display: inline-block;
	//margin-right: 8px;
	margin: $auto_margin;
}

.facebook_share{
	position: absolute;
	//top: 30px;
	right: 80px;
}

.twitter_share{
	position: absolute;
	//top: 30px;
	right: 20px;
}

.share-icons{
  z-index: 10;
}
.padding_more{
	padding: 20px 0px;
}

.flexbox{
	@include display(flex);
	@include flex-direction(row);
	flex-wrap: wrap;
	@include align-items(baseline);
	 @include justify-content(center);
    a{
    	display: block;
    	//margin-right: 9px;
    }

    @media only screen and (max-width: 319px) {
         @include justify-content(space-between);
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
           @include justify-content(space-between);
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
         @include justify-content(space-between);
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
            @include justify-content(space-around);
    }

    
}

.int_applicants{
	margin-top: 30px;

}

ul.share-buttons{
  list-style: none;
  padding: 15px;
}

ul.share-buttons li{
  display: inline;

}

