
    /*==========  Mobile First Method  ==========*/

    /* Very small decices*/
    @media only screen and (max-width: 319px) {
        .companies-centered{
            margin-top: 15px;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        }

        .shorter{
            width: 50%;
        }



        footer{
            margin-top: 15px;
        }

        .share_icons{
    position: absolute;
    bottom: 21px;
    right: 26px;
    z-index: 10;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */

 }


.facebook_share{
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.twitter_share{
    position: absolute;
    bottom: 30px;
    right: 20px;
}
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
        .companies-centered{
            margin-top: 15px;
        }

        .shorter{
            width: 80%;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        } 



         footer{
            margin-top: 15px;
        }


        .share_icons{
    position: absolute;
    bottom: 21px;
    right: 26px;
   z-index: 10;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */

 }


.facebook_share{
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.twitter_share{
    position: absolute;
    bottom: 30px;
    right: 20px;
}
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
        .companies-centered{
            margin-top: 15px;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        }

        .shorter{
            width: 80%;
        }


        #keys{
            display: block;
            margin: 0px auto;
            max-width: 460px;
        }

        .border{
            
            width: 80%;
            
        }


        .share_icons{
    position: absolute;
    bottom: 21px;
    right: 26px;
   z-index: 10;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */

 }


.facebook_share{
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.twitter_share{
    position: absolute;
    bottom: 30px;
    right: 20px;
}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
         .companies-centered{
            margin-top: 15px;
        }
        .main_info{
            background-color: transparent;
        }

        .shorter{
            width: 60%;
        }


        #keys{
            display: block;
            margin: 0px auto;
            max-width: 500px;
        }


        .border{
            
            width: 80%;
            
        }


        .share_icons{
    position: absolute;
    bottom: 21px;
    right: 26px;
   z-index: 10;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */

 }


.facebook_share{
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.twitter_share{
    position: absolute;
    bottom: 30px;
    right: 20px;
}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width: 1199px) {
         .companies-centered{
            margin-top: 18px;
        }
         .main_info{
            background-color: transparent;
        } 

        .shorter{
            width: 50%;
        }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .companies-centered{
            margin-top: 20px;
        }
        .main_info{
            background-color: transparent;
        }

        .shorter{
            width: 50%;
        }

    }
