
    /*==========  Mobile First Method  ==========*/

    /* Very small decices*/
    @media only screen and (max-width: 319px) {
        .companies-centered{
            margin-top: 15px;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        }

        .shorter{
            width: 50%;
        }



        footer{
            margin-top: 15px;
        }
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
        .companies-centered{
            margin-top: 15px;
        }

        .shorter{
            width: 80%;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        } 



         footer{
            margin-top: 15px;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
        .companies-centered{
            margin-top: 15px;
        }

        .main_info{
            background-color: white;
            margin-top: 20px;
        }

        .shorter{
            width: 80%;
        }


        #keys{
            display: block;
            margin: 0px auto;
            max-width: 460px;
        }

        .border{
            
            width: 80%;
            
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
         .companies-centered{
            margin-top: 15px;
        }
        .main_info{
            background-color: transparent;
        }

        .shorter{
            width: 50%;
        }


        #keys{
            display: block;
            margin: 0px auto;
            max-width: 500px;
        }


        .border{
            
            width: 80%;
            
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width: 1199px) {
         .companies-centered{
            margin-top: 18px;
        }
         .main_info{
            background-color: transparent;
        } 

        .shorter{
            width: 50%;
        }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .companies-centered{
            margin-top: 20px;
        }
        .main_info{
            background-color: transparent;
        }

        .shorter{
            width: 50%;
        }

    }
