.toolkit{
	height: 200px;
	border-bottom: black solid 5px;
	margin-bottom: 0px;
}

.home{
	position: absolute;
	bottom: 0vh;
	left:0vw;
}

.taxi{
	position: absolute;
	bottom: 0vh;
	left: 6vw;
}

.traveller{
	position: absolute;
	bottom: 0vh;
	left: 19vw;
	//display: none;
}

.airport1{
	position: absolute;
	bottom: 0vh;
	left: 21vw;
}

.plane1{
	position: absolute;
	bottom: 3vh;
	left: 31vw;
}

.plane2{
	position: absolute;
	bottom: 7vh;
	left: 41vw;
	display: none;
}

.plane3{
	position: absolute;
	bottom: 3vh;
	left: 49vw;
	display: none;
}

.airport2{
	position: absolute;
	bottom: 0vh;
	right: 0vw;
}


//mobile representation

.section{
	border-bottom: grey solid 1px;
	padding-bottom: 20px;

	img{
		display: block;
		margin: 20px auto 40px auto;
	}

   .traveller-near{
		position: relative;
		top: 125px;
		left: -60px;

	}

	.airport-near{
		position: relative;
		left: 20px;
	}

	.button-border{
		border-bottom: black solid 3px;
		padding-bottom: 10px;
	}

	p {
		margin-bottom: 20px;
	}

}

.section:last-child {
    border-bottom: none;
}

//for names

.themes{
	height: 40px;
	margin-bottom: 30px;
}

.booking{
	display: block;
	position: absolute;
	top: 0vh;
	left:0vw;
}

.transportation{
	display: block;
	position: absolute;
	top: 0vh;
	left:8vw;
}

.airport{
	display: block;
	position: absolute;
	top: 0vh;
	left:23vw;
}

.take-off{
	display: block;
	position: absolute;
	top: 0vh;
	left:32vw;
}

.inflight{
	display: block;
	position: absolute;
	top: 0vh;
	left:42vw;
}

.landing{
	display: block;
	position: absolute;
	top: 0vh;
	left:52vw;
}

.destination{
	display: block;
	position: absolute;
	top: 0vh;
	left:60vw;
}

//for desktop api info

.apis ul{
	display: block;
	width: 100%;
	float: left;
	padding-left: 0px;
}
.border-dotted{
	background-color: transparent;
	display: inline-block;
	list-style-type: none;
	border-style:dashed;
	border-width: 2px;
	width: 25%;
	float: left;
	border-right: none; 
	border-bottom: none;
	padding: 12px;
	max-height: 233px;
	min-height: 200px;
	height: 250px;
}

.border-dotted:last-child {
	border-right: dashed; 
	border-width: 2px;
}
.border-dotted:nth-child(4n) {
  border-right: dashed; 
	border-width: 2px;
}

.border-dotted-bottom{
	border-bottom: dashed;
	border-width: 2px;
}




.hidden-api{
	display: none;
}

.border-white{
	border-radius: 10px;
	background-color: white;
}
//show all

.show-all{
	margin-top: 30px;
	//width: 20%;
}

//disclaimer styling

.disclaimer{
	h6{
		text-align: center;
	}
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: justify;
}

//flex

.flextoolkit{
	@include display(flex);
	@include flex-direction(row);
	flex-wrap: wrap;
	@include align-items( stretch);
	 @include justify-content(flex-start);
    a{
    	display: block;
    	//margin-right: 9px;
    }

    @media only screen and (max-width: 319px) {
         @include justify-content(space-between);
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
           @include justify-content(space-between);
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
         @include justify-content(space-between);
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
            @include justify-content(flex-start);
    }

    
}

